# GitHub accepts an account-associated email address as a code owner.
* lishuizhongyue@gmail.com

/apps/web/prisma/ lishuizhongyue@gmail.com
/apps/web/src/app/api/ lishuizhongyue@gmail.com
/.github/ lishuizhongyue@gmail.com
/security/ lishuizhongyue@gmail.com
