[Unit]
Description=Schedule Mingyuan operational alert check cron

[Timer]
OnBootSec=4m
OnUnitActiveSec=5m
AccuracySec=30s
Persistent=true
Unit=mingyuan-cron-operational-alerts.service

[Install]
WantedBy=timers.target
