[Unit]
Description=Schedule Mingyuan audit reconcile cron

[Timer]
OnBootSec=3m
OnUnitActiveSec=5m
AccuracySec=30s
Persistent=true
Unit=mingyuan-cron-audit-reconcile.service

[Install]
WantedBy=timers.target
